/* @font-face {
    font-family: Gutin-font;
    src: url('./assets//fonts/RS-YonatanGutin.ttf');
}
 */
@font-face {
    font-family: VarelaRound;
    src: url('./assets/fonts/VarelaRound-Regular.ttf');
}