/* @font-face {
    font-family: Gutin-font;
    src: url('./assets//fonts/RS-YonatanGutin.ttf');
}

@font-face {
    font-family: Fredoka-font;
    src: url('./assets//fonts/Fredoka-VariableFont_wdth\,wght.ttf');
} */